.anatomy-container {
  position: relative;
  border-radius: 1rem;
  width: 270px;
  height: 400px;
  margin: 0 15px;
  background-color: #f6f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
}

.human-image-wrapper {
  position: absolute;
  width: 400px;
}

.tag {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  padding: 0.375rem 0.625rem;
  border-radius: 8px;
  font-weight: 500;
}

.healthy-heart {
  top: 100px;
  right: 40px;
  background-color: #3836a8;
  color: white;
  justify-content: center;
}

.healthy-leg {
  bottom: 100px;
  left: 60px;
  background-color: #03e0f0;
  color: #3734a7;
  gap: 0.25rem;
}

.tag-icon {
  width: 1.25rem;
  height: 1.25rem;
}
