.calendar-view {
  display: flex;
  flex-direction: column;
  gap: 1.75rem; /* gap-7 */
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.calendar-month {
  color: #18175d;
  font-weight: 700; /* font-bold */
}

.calendar-nav {
  display: flex;
  gap: 0.5rem; /* gap-2 */
}

.icon-size-5 {
  width: 1.25rem; /* size-5 */
  height: 1.25rem;
}

.cards-row {
  display: flex;
  gap: 1.25rem; /* gap-5 */
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* gap-6 */
  font-size: 0.875rem; /* text-sm */
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* gap-2 */
  border-radius: 1.5rem; /* rounded-3xl */
  padding: 1rem; /* p-4 */
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  gap: 45px;
}
