.dashboard-overview-container {
  width: 90%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  color: #3635a9;
}

.dashboard-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.dashboard-week-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #3635a9;
}

.dashboard-week-text {
  font-size: 0.75rem;
}

.icon-size-3 {
  width: 0.75rem;
  height: 0.75rem;
}

.dashboard-main-content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
}
