.simple-appointment-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* gap-6 */
}

.simple-appointment-card {
  display: flex;
  flex-direction: column;
  color: #18175d;
  gap: 0.5rem; /* gap-2 */
  background-color: #dde2f9;
  border-radius: 1.5rem; /* rounded-3xl */
  padding: 1rem 1rem; /* p-4 px-4 */
}

.simple-appointment-card-header {
  display: flex;
  align-items: center;
  gap: 2rem; /* gap-8 */
}

.simple-appointment-task {
  font-weight: 700;
}

.simple-appointment-img {
  width: 1.5rem; /* size-6 equivalent */
  height: 1.5rem;
}
