.simple-appointment-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.simple-appointment-card {
  display: flex;
  flex-direction: column;
  color: #18175d;
  gap: 0.5rem;
  background-color: #dde2f9;
  border-radius: 1.5rem;
  padding: 1rem 1rem;
}

.simple-appointment-card-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.simple-appointment-task {
  font-weight: 700;
}

.simple-appointment-img {
  width: 1.5rem;
  height: 1.5rem;
}
